<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bonsai</title>

	<meta charset="utf-8" />

	<link href="./ui_asset/common.css" rel="stylesheet" type="text/css" />
	<link href="./ui_asset/special.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="./favicon.png" type="image/png" />
</head>

<body>
	<div id="ui">
		<div class="panel panel-h mainpanel-sim">
			<section class="w-module module-size-1x">
				<h1>TIME</h1>
				<div><span>{{age}}</span></div>
			</section>

			<button v-on:click.exact="onClickPlay" v-on:click.shift="onClickStep" v-if="!playing" class="button-big" title="Start simulation (Shift+Click to simulate 1 step)">
				<img src="ui_asset/play_arrow_white_48dp.svg" />
			</button>
			<button v-on:click="onClickPause" v-if="playing" class="button-big" title="Pause simulation">
				<img src="ui_asset/pause_white_48dp.svg" />
			</button>

			<section class="w-module module-size-2x">
				<h1>MATTER</h1>
				<div><label>PLANT</label><span>{{numPlants}}</span></div>
				<div><label>CELL</label><span>{{numCells}}</span></div>
			</section>

			<section class="w-module module-size-2x">
				<h1>ENERGY</h1>
				<div><label>STORED</label><span>{{(storedEnergy * 1000).toFixed(0)}}m</span></div>
			</section>
			 
			<button class="button-big" v-on:click="onClickToggleChart" v-bind:class="{active: showingChart}" title="Show/hide data history">
				<img src="ui_asset/show_chart_white_48dp.svg" />
			</button>
		</div>
		<div class="panel panel-v subpanel-simdetail" v-show="showingChart">
			<line-plot :chart-data="historydata" :options="historyoption" height="200"></line-plot>
		</div>

		<div class="panel panel-h mainpanel-mode">
			<button v-on:click="onClickInspect" class="button-big" v-bind:class="{active: isInspectMode}" title="Inspect plant: click a plant to see its details">
				<img src="ui_asset/search_white_48dp.svg" />
			</button>
			<button v-on:click="onClickAdd" class="button-big" v-bind:class="{active: isAddMode}" title="Add plant: click to insert a plant seed">
				<img src="ui_asset/add_circle_outline_white_48dp.svg" />
			</button>
		</div>
		<div class="panel panel-v subpanel-plantdetail" v-show="isInspectMode && plantSelected">
			<div class="panel-header">
				<h1>PLANT#{{selectedPlant.id}}</h1>
				<button class="button-small" v-on:click="onClickKillPlant" title="Remove the plant">
					<img src="ui_asset/delete_forever_white_48dp.svg" />
				</button>

				<button class="button-small" v-on:click="onClickSave" v-if="!selectedPlantGenomeRegistered" title="Save plant genome to inventory">
					<img src="ui_asset/favorite_border_white_48dp.svg" />
				</button>
				<button class="button-small" v-if="selectedPlantGenomeRegistered" title="Genome is already registetered to inventory">
					<img src="ui_asset/favorite_white_48dp.svg" />
				</button>
			</div>
			<div style="display:flex">
				<section class="w-module module-size-2x">
					<h1>STATS</h1>
					<div><label>AGE</label><span>{{selectedPlant.age}}</span></div>
					<div><label>CELL</label><span>{{selectedPlant.numCells}}</span></div>
				</section>
				<section class="w-module module-size-2x">
					<h1>ENERGY</h1>
					<div><label>STORED</label><span>{{(selectedPlant.storedEnergy * 1e6).toFixed(0)}}μ</span></div>
					<div><label>DELTA</label><span>{{(selectedPlant.deltaEnergy * 1e6).toFixed(0)}}μ</span></div>
				</section>
			</div>
			<div style="display:flex">
				<section class="w-module module-size-2x">
					<h1>GENOME</h1>
					<div><label>GENE</label><span>{{selectedPlant.numGenes}}</span></div>
					<div><label>SIZE</label><span>{{selectedPlant.genomeSize}}</span></div>
				</section>

				<div class="figure" style="overflow-y: scroll; height: 72px; flex-grow: 1">
					<div v-for="gene in selectedPlantGenesStyled">
						<table class="gene">
							<tr><td v-for="elem in gene.when" v-bind:class="elem.classObj">{{elem.seq}}</td></tr>
							<tr><td v-for="elem in gene.when">{{elem.role}}</td></tr>
						</table>
						<table  class="gene">
							<tr><td v-for="elem in gene.emit" v-bind:class="elem.classObj">{{elem.seq}}</td></tr>
							<tr><td v-for="elem in gene.emit">{{elem.role}}</td></tr>
						</table>
					</div>
				</div>
			</div>
			<div style="padding-left: 8px">
				<h1>CELL SIGNALS</h1>
				<div style="overflow-y: scroll; height: 72px">
					<table class="signals" >
						<tr v-for="cellStat in selectedPlant.cells">
							<td>{{cellStat}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="panel panel-v subpanel-inventory" v-show="isAddMode">
			<div v-for="genome in genomeList" v-on:click="onClickGenome(genome.encoded)">
				<span v-if="genome.encoded === currentGenome">(active)</span> {{genome.encoded}}
			</div>
		</div>

		<div class="panel mainpanel-about">
			<button v-on:click="onClickAbout" class="button-big">
				<img style="filter: grayscale(1.0) brightness(5)" src="ui_asset/logo.svg" />
			</button>
		</div>
		<div class="panel panel-v subpanel-about" v-show="showingAbout">
			<pre>{{simInfoText}}</pre>
		</div>
	</div>

	<div id="main"></div>

	<script src="script/three.js"></script>
	<script src="script/TrackballControls.js"></script>
	<script src="script/genome.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
		integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"
		integrity="sha512-dnUg2JxjlVoXHVdSMWDYm2Y5xcIrJg1N+juOuRi0yLVkku/g26rwHwysJDAMwahaDfRpr1AxFz43ktuMPr/l1A==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-chartjs/3.5.1/vue-chartjs.min.js"
		integrity="sha512-HIA1ey+BHvsI1zt1i4IC52HvVClIQ6pOUbuZ/YN0ko2DPgkJp50ADnA7XXiKU0k1TyLUrW4VCdB/n82Et9NGxA==" crossorigin="anonymous"></script>
	<script src="script/bonsai.js"></script>
</body>

</html>