<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bonsai</title>

	<meta charset="utf-8" />

	<link href="./ui_asset/common.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="./favicon.png" type="image/png" />
</head>

<body>
	<div id="ui">
		<div class="logo">
			<span class="logo-text">Bonsai</span>
		</div>

		<div class="column-buttons">
			<button id="button_toggle_time" v-on:click="onClickToggleTime" v-bind:class="{active: timePanelVisible}" title="Open/close time control panel.">
				<img src="ui_asset/icon_time.png" />
			</button>
			<button id="button_toggle_chunk" v-on:click="onClickToggleChunk" v-bind:class="{active: chunkPanelVisible}" title="Open/close chunk statistics panel.">
				<img src="ui_asset/icon_chunk.png" />
			</button>
			<button id="button_toggle_chart" v-on:click="onClickToggleChart" v-bind:class="{active: chartPanelVisible}" title="Open/close energy and population history.">
				<img src="ui_asset/icon_chart.png" />
			</button>

			<hr />

			<button id="button_toggle_plant" v-on:click="onClickTogglePlant" v-bind:class="{active: plantPanelVisible}" title="Open/close plant statistics.">
				<img src="ui_asset/icon_plant.png" />
			</button>
			<button id="button_toggle_genome" v-on:click="onClickToggleGenome" v-bind:class="{active: genomePanelVisible}" title="Open/close genome view.">
				<img src="ui_asset/icon_genome.png" />
			</button>

			<hr />

			<button id="button_toggle_about" v-on:click="onClickToggleAbout" v-bind:class="{active: aboutPanelVisible}" title="Open/close about.">
				<img src="ui_asset/icon_about.png" />
			</button>
		</div>

		<div class="column-windows">
			<div class="pane-panel bg-time" v-show="timePanelVisible">
				<h1>Time</h1>
				<span>{{age}}T</span>
				<button v-on:click="onClickPlay" v-if="!playing">&#x25b6;</button>
				<button v-on:click="onClickPlay" v-if="playing">&#x25a0;</button>

				<button v-on:click="onClickStep(1)">+1T</button>
				<button v-on:click="onClickStep(10)">+10T</button>
				<button v-on:click="onClickStep(50)">+50T</button>
			</div>

			<div class="pane-panel bg-chunk" v-show="chunkPanelVisible">
				<h1>Chunk</h1>
				<pre id="info-chunk"></pre>
			</div>

			<div class="pane-panel bg-chunk" v-show="chunkPanelVisible">
				<h1>Simulation</h1>
				<pre id="info-sim"></pre>
			</div>

			<div class="pane-panel bg-chart" v-show="chartPanelVisible">
				<h1>History</h1>
				<line-plot :chart-data="historydata" :options="historyoption" height="200"></line-plot>
			</div>

			<div class="pane-panel bg-plant" v-show="plantPanelVisible">
				<h1>Plant</h1>
				<pre id="info-plant"></pre>

				<button id="button_kill">Kill</button>
			</div>

			<div class="pane-panel bg-genome" v-show="genomePanelVisible">
				<h1>Genome</h1>
				Click a plant to see its genome.
				<div class="figure">
					<pre id="genome-plant"></pre>
				</div>
			</div>

			<div class="pane-panel bg-about" v-show="aboutPanelVisible">
				<h1>About</h1>
				<h2>What's this?</h2>
				<p>
					Bonsai is primarily a plant evolution simulator,
					and partly a tech demo of HTML5.
				</p>
				<p>
					For now, you can just watch plants reproduce (and die).
					You can also click plant to inspect its genome, signals, stats etc.
					Simulated factors are energy, mutation, and in-cell signaling based growth.
				</p>

				<h2>Plant Model</h2>
				<p>
					A plant consists of organ-scale cells, each of them contains
					set of signals. A plant also has a single scalar energy, which is shared among the all cells in the
					plant.
				</p>

				<h2>Energy Model</h2>
				<p>
					In bonsai, each plant has stored energy which changes over time from several factors. Only way to
					produce energy is via photosynthesis, and it's simulated by number of rays hitting cells that contains
					chloroplast. (it also affects shadow)
				</p>

				<p>
					Everything else (including mere existence) costs energy and
					plants with low energy turns blue and eventually dies.
				</p>

				<h2>Cell Model</h2>
				A cell contains signals, which is a string of alphabets. Signals are generated by expression of a gene.

				<p>
					Genome consists of gene, and each gene looks like
					(condition, production). Condition determines a probability of generating the signals in production
					term, by
					multiplying concentration of each signal.
				</p>

				<p>
					Some signals have special builtin meanings:
				<ul>
					<li><span class="gene">g</span>: growth factor determined by plant age</li>
					<li><span class="gene">iα</span>: 1 - probability of α</li>
					<li><span class="gene">p</span>: multiply 0.5</li>
					<li><span class="gene">dαβ</span>: produce new cell containing signal α in direction β</li>
					<li><span class="gene">rα</span>: delete signal α</li>
					<li><span class="gene">chlr</span>: act as chloroplast</li>
					<li><span class="gene">x</span>,
						<span class="gene">y</span>,
						<span class="gene">z</span>: grow in specified direction
					</li>
				</ul>

				<h2>Problems...?</h2>
				<p>
					You need a browser with WebGL &amp; Web Worker support.
					Also bonsai is only tested on Chrome/Linux.
				</p>
			</div>
		</div>
	</div>

	<div id="main"></div>

	<script src="script/stats.min.js"></script>
	<script src="script/three.js"></script>
	<script src="script/TrackballControls.js"></script>
	<script src="script/genome.js"></script>
	<script src="script/chunk.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
		integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"
		integrity="sha512-dnUg2JxjlVoXHVdSMWDYm2Y5xcIrJg1N+juOuRi0yLVkku/g26rwHwysJDAMwahaDfRpr1AxFz43ktuMPr/l1A==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-chartjs/3.5.1/vue-chartjs.min.js"
		integrity="sha512-HIA1ey+BHvsI1zt1i4IC52HvVClIQ6pOUbuZ/YN0ko2DPgkJp50ADnA7XXiKU0k1TyLUrW4VCdB/n82Et9NGxA==" crossorigin="anonymous"></script>
	<script src="script/bonsai.js"></script>
</body>

</html>