@import url(http://fonts.googleapis.com/css?family=Clicker+Script);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:800);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#main {
	z-index: -1;
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
}

/* Colors
#ad7fa8
#cfbf72
#729fcf
#cf7274
#72cf89

*/

.bg-genome {
	background-color: #ad7fa8;
}

.bg-time {
	background-color: #72cf89;
}

.bg-chunk {
	background-color: #729fcf;
}

.bg-plant {
	background-color: #cfbf72;
}

.bg-chart {
	background-color: #cf7274;
}



/* Basic structure (logo + two columns) */
.logo {
	position: absolute;
	right: 0;
	bottom: 0;
}

.logo-text {
	font-size: 50px;
	position: relative;
	font-family: 'Clicker Script', cursive;
	color: #784;
	margin-right: 10px;
	margin-bottom: 10px;

	text-shadow: 0 0 5px #eee;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.column-buttons {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 100%;

	background: url("dirty_darkgray.png");

	box-shadow: 3px 0 3px 0px rgba(0, 0, 0, 0.4);
	z-index: 3;
}

.column-buttons hr {
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.column-windows {
	position: absolute;
	left: 50px;
	top: 0;
	width: 400px;
	height: 100%;	
}


/* Buttons */
.column-buttons button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.column-buttons button:focus {
	outline: none;
}

.column-buttons button img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.column-buttons button.active img {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}


/* Windows */
.debug {
	display: none;
}

.pane-panel {
	margin-bottom: 0;
	padding-left: 10px;
	padding-bottom: 10px;

	overflow: hidden;
	width: 400px;
	display: none;
	margin-bottom: 10px;
	min-height: 50px;
	opacity: 0.9;

	font-family: "Inconsolata", sans-serif;
}

.pane-panel h1 {
	font-size: 150%;
	margin-top: 1px;
	margin-bottom: 1px;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 800;
	color: #eee;
}

.pane-panel pre {
	margin-top: 0;
	margin-bottom: 0;
}

.figure {
	background-color: #222;
	color: #eee;
}

/* Time Panel */
.bg-time button {
	border: #eee solid 2px;

	height: 2em;

	background: none;
	border-radius: 1px;
	color: white;

	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 800;
}

#ui_abs_time {
	font-size: 150%;
}

#button_play {
	width: 2em;
	height: 2em;
	font-family: sans-serif;
}

/* difference from pane-panel */
.gene span {
	margin: 1px;
	background-color: #868;
	font-size: 50%;
}

.gene span.ct-factor {
	background-color: #341;
}

.gene span.ct-broken {
	background-color: #a33;
}


/*  */
.credit {
	position: absolute;
	right: 0;
	bottom: 0;
}
